<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h2><%= pergunta.titulo %></h2>
        <p><%= pergunta.descricao %></p>
        <hr>
        <form method="POST" action="/responder">
            <h3>Responda</h3>
            <label>Resposta:</label><br>
            <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea><br>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
        <hr>
        <h3>Respostas</h3>
        <% respostas.forEach(resposta => {%>
            <br>
            <div class="card">
                <div class="card-body">
                    <p><%= resposta.corpo %><br></p>
                </div>
            </div>
       <% }) %>
    </div>
</body>
<%- include ('partials/footer.ejs') %>
