<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h2><%= pergunta.titulo %></h2>
        <p><%= pergunta.descricao %></p>
        <hr>
    </div>
</body>
<%- include ('partials/footer.ejs') %>
